body {
    font-family: 'Work Sans', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}
.overflow{
    overflow: hidden;
}

/*style scroll bar*/
/* width */
::-webkit-scrollbar {
    width: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00355f; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #000; 
  }
  /*                          header section                     */
  /*                          dropdown                            */
.dropdown {
    position: relative;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}
  
  /* Dropdown Content (Hidden by Default) */
.dropdown-content {
    /* display: none; */
    visibility: hidden;
    opacity: 0;
    position: absolute;
    background-color: #fff;
    color: #616161;
    text-align: center;
    min-width: 120px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    border-radius: 5px;
    z-index: 5;
    left: 50%;
    top: 32px;
    transform: translateX(-50%);
    padding: 4px 0 4px;
    transition: all 0.3s ease-in-out;
}

.dropdown-content::before {
    content: '';
    display: block;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 8px solid #fff;
    position: absolute;
    top: -8px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.3s;
    opacity: 1;
}  
  
/* Links inside the dropdown */
.dropdown-content a {
    color: #616161;
    padding: 4px 0 4px;
    text-decoration: none;
    display: block;
    font-family: "TajawalMedium";
    font-size: 13px;   
    transition: all .3s ease-in-out;
}  
.dropdown-content a:hover{
    color: #286090;/*hover*/
} 


  /* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    /* display: block; */
    visibility: visible;
    opacity: 1;    
}
.chevron-down{
    /* line-height: 38px;also height of div */
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.chevron-down::after {
    content: "\e874";
    font-family: "Linearicons-Free";
    font-size: 8px;
    margin-left: 4px;
    font-weight: bold;
}
html[dir=rtl] .chevron-down::after{
    margin-left: 0px;
    margin-right: 4px;
}

.chevron-down:hover {
    color: #286090;
}
/*                          dropdown                            */
/*top header*/
header {
    position: relative;
    /* margin-bottom: 78px; */
}
.top-header a{
    text-decoration: none;
}
.top-header{
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 111;
    width: 100%;
}
.show-icons{
    display: none;
}
.nav-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0 22px;
    transition: all 0.3s ease-in-out;
}
.nav-header figure img{
    filter: brightness(0) invert(1) ;
}
.nav-header li a,
.nav-header .lang-word{
    color: #fff;
    font-size: 17px;
    font-family: "TajawalMedium";
    transition: all 0.3s ease-in-out;
}
.nav-header li a:hover,
.nav-header .lang-word:hover{
    color: #286090;
}
.nav-header .dropdown-content a {
    color: #616161;
    padding: 4px 0 4px;
    text-decoration: none;
    display: block;
    font-family: "TajawalMedium";
    font-size: 13px;   
    transition: all .3s ease-in-out;
}  
.nav-header .dropdown-content a:hover{
    color: #286090;/*hover*/
}
/*to change header color*/

/* .plus-class{
    background-color: #fff;
}
.plus-class li a,
.plus-class .lang-word{
    color: #00355f;
    font-size: 17px;
    font-family: "TajawalMedium";
    transition: all 0.3s ease-in-out;
}
.plus-class li a:hover,
.plus-class .lang-word:hover{
    color: #286090;
}
.plus-class figure img{
    filter: brightness(0) saturate(100%) invert(15%) sepia(23%) saturate(5919%) hue-rotate(187deg) brightness(94%) contrast(102%);
}

*/

.nav-header li{
    margin-right: 25px;
}
html[dir=rtl] .nav-header li{
    margin-right: 0;
    margin-left: 25px;
}
.nav-header li:nth-of-type(7){
    margin-right: 0;
}
html[dir=rtl] .nav-header li:nth-of-type(7){
    margin-left: 0;
}
.nav-header li:last-of-type{
    margin-right: 0;
}
html[dir=rtl] .nav-header li:last-of-type{
    margin-left: 0;
}
.nav-header .big-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}
.nav-header figure{
    margin: 0;
}
.nav-header figure img{
    width: 100%;
}
.nav-head {
    height: 38px;
    background-color: #00355f;
    width: 100%;
    display: none;
    align-items: center;
    justify-content: space-between;
    padding: 0 15px;
}
.lang-section .lang-word{
    color: #fff;
    font-size: 13px;
    font-family: "TajawalRegular";
    transition: all 0.3s ease-in-out;
}
.lang-section .lang-word:hover{
    color: #286090;
}
.menu-bars{
    display: none;
}
.navgition .lang-section{
    display: none;
}
/*caption section*/
.header-caption .figure-main{
    padding-bottom: 100vh;
    margin: 0;
    position: relative;
    display: flex;
    clip-path: polygon(100% 0, 100% 92%, 0 100%, 0 0);
}
.header-caption .figure-main::before {
    display: block;
    content: "";
    background-color: #000;
    opacity: 0.3;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.figure-main img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    transition: 0.5s;
}
.header-caption .main-content {
    position: absolute;
    top: 38%;
    left: 0;
    width: 100%;
    text-align: center;
    z-index: 11;
}
.header-caption .main-content .main-h {
    color: #fff;
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 0;
    font-family: "TajawalMedium";
    text-transform: capitalize;
}
.header-caption .main-content .main-p {
    color: #fff;
    font-size: 32px;
    margin-top: 0;
    margin-bottom: 35px;
    font-family: "TajawalLight";
    text-transform: capitalize;
}
.main-button{
    width: 175px;
    height: 45px;
    border-radius: 22px;
    background-color: #fff;
    color: #00355f;
    border: none;
    font-size: 16px;
    font-family: "TajawalMedium";
    transition: all .3s ease-in-out;
}
.main-button:hover{
    background-color: #00355f;
    color: #fff;
    border: 1px solid #00355f;
}
/*caption section*/
/*button down*/
.header-scroll-down-butt {
    width: 21px;
    height: 41px;
    border-radius: 10.5px;
    border: 2px solid #fff;
    position: absolute;
    left: 50%;
    bottom: 40px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 11;
    background-color: transparent;
    padding: 0;
    display: block;
    outline: none!important;
    transition: 0.5s;
}
.header-scroll-down-butt:after {
    content: "";
    display: block;
    position: absolute;
    top: 10px;
    left: 43%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 3px;
    height: 8px;
    background-color: #fff;
    border-radius: 1.5px;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
}
@-webkit-keyframes sdb10 {
    0% {
      -webkit-transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      -webkit-transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes sdb10 {
    0% {
      transform: translate(0, 0);
      opacity: 0;
    }
    40% {
      opacity: 1;
    }
    80% {
      transform: translate(0, 20px);
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }
/*                          header section                     */


/*                         about us section                    */
.about-section{
    overflow: hidden;
    position: relative;
}

.about-us{
    text-align: center;
    padding: 0 85px;
    position: relative;
    margin-bottom: 70px;
    padding-top: 78px;
}
/*    image before about us*/
.about-section::before{
    content: "";
    background: url(../images/flower2.png);
    position: absolute;
    top: -29%;
    left: -8%;
    width: 456px;
    height: 444px;
    z-index: -1;
}
/*    image before about us*/

.about-us figure{
    margin: 0;
    margin-bottom: 20px;
}
.about-us .about-h{
    text-align: center;
    text-transform: uppercase;
    font-family: "TajawalBold";
    font-size: 30px;
    color: #00355f;
    margin-bottom: 95px;
    margin-top: 0;
    position: relative;
}
.about-us .about-h::after{
    content: "";
    background: #DCE2E8;
    width: 1px;
    height: 43px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}
.about-us .about-p{
    text-align: center;
    font-family: "TajawalRegular";
    font-size: 20px;
    color: #00355f;
    margin-bottom: 45px;
}
.about-us .about-button{
    width: 175px;
    height: 45px;
    border-radius: 22px;
    background-color: #fff;
    color: #00355f;
    border: 1px solid #00355f;
    font-size: 16px;
    font-family: "TajawalRegular";
    transition: all .3s ease-in-out;
}
.about-us .about-button:hover{
    background-color: #00355f;
    color: #fff;
    border: 1px solid #fff;
}

/*                         about us section                    */
/*                         box section                         */
.box-section{
    margin-bottom: 95px;
}
.box-link {
    display: block;
    text-decoration: none;
    transition: 0.3s;
    position: relative;
}    
.box-link .box-cont {
    position: relative;
}
.box-link .box-figure {
    padding-bottom: 126%;
    overflow: hidden;
    margin: 0;
    display: flex;
    position: relative;
}
.box-figure .box-img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transform: scale(1.1);
    transition: 0.3s;
}
.box-link:hover .box-img {
    transform: scale(1);
}

.box-link .box-figure::before {
    display: block;
    content: "";
    background: linear-gradient(0deg, rgba(3,59,101,1) 0%, rgba(21,91,136,1) 26%, rgba(0,0,0,0) 49%);
    opacity: 0.9;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.box-link .box-caption {
    padding: 24px 34px 32px;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    z-index: 2;
}
.box-link .box-h {
    font-size: 24px;
    font-family: "TajawalBold";
    color: #fff;
    margin-top: 0;
    margin-bottom: 10px;
    transition: 0.5s;
}
.box-link .box-p {
    font-size: 16px;
    font-family: "TajawalRegular";
    color: #fff;
    margin-top: 0;
    margin-bottom: 0px;
    text-align: justify;
    text-align-last: center;
}
/*                         box section                         */
/*                       image-details section                    */
.section-details{
    overflow: hidden;
    position: relative;
}
.details-head{
    position: absolute;
    top: 70px;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    z-index: 3;
}
.details-box{
    text-align: center;
    position: relative;
}
.details-box .details-cont{
    height: 532px;
    padding: 261px 200px 0;
    background-color: #f5f6f7;
    clip-path: polygon(0 7%, 100% 0, 100% 93%, 0% 100%);
    position: relative;
    margin-bottom: 360px;
}
.details-box .details-aspect{
    position: absolute;
    bottom: -280px;
    left: 50%;
    transform: translateX(-50%);
}

.details-head .section-logo{
    margin-bottom: 20px;
}
.details-head .details-h{
    font-size: 30px;
    font-family: "TajawalBold";
    color: #00355f;
    margin-top: 0;
    margin-bottom: 80px;
    position: relative;
}
.details-head .details-h::after {
    content: "";
    background: #DCE2E8;
    width: 1px;
    height: 43px;
    position: absolute;
    top: 55px;
    left: 50%;
    transform: translateX(-50%);
}

.details-box .details-span{
    font-size: 20px;
    font-family: "TajawalRegular";
    color: #00355f;
    display: block;
    margin-bottom: 40px;
    line-height: 1.7;
    position: relative;/*to make z-index work*/
    z-index: 2;
}
.details-box .image-details{
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
    width: 555px;
    margin: 0 auto;
    padding-bottom: 71.75%;
    position: relative;
    overflow: hidden;
}
.details-box .image-details .simpleParallax{
    width: fit-content;
    margin: 0 auto;
}
.details-box .image-details img{
    object-fit: cover;
    max-width: 100%;;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.details-slider{
    position: relative;
}
.details-slider::after{
    content: "";
    background: url("../images/flower.png");
    position: absolute;
    top: -13%;
    left: -9%;
    width: 456px;
    height: 444px;
    z-index: 1;
}
.details-slider .swiper-pagination{
    bottom: 80px;
}
@media (min-width: 0) {
    .details-slider .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }

/*                       image-details section                    */
/*                        big-image section                    */
.big-image{
    /* margin-bottom: 75px; */
    position: relative;
    max-width: 100%;
    background-image: url("../images/big-img.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    clip-path: polygon(0 5%, 100% 0, 100% 95%, 0% 100%);
}
.big-image::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    opacity: 0.4;
    z-index: 2;
}
.big-image a{
    text-decoration: none;
}
.big-image .big-cont{
    position: relative;
    height: 545px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
}
.big-image .big-h{
    font-size: 48px;
    font-family: "TajawalMedium";
    color: #fff;
    text-align: center;
    margin: 0;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 18px;
}
.big-image .big-p{
    font-size: 32px;
    font-family: "TajawalLight";
    color: #fff;
    text-align: center;
    margin: 0;
    width: 100%;
    margin-bottom: 25px;
}
.big-image .big-button{
    width: 175px;
    height: 45px;
    border-radius: 22px;
    background-color: #fff;
    color: #00355f;
    border: none;
    font-size: 16px;
    font-family: "TajawalMedium";
    transition: all .3s ease-in-out;
}
.big-image .big-button:hover{
    background-color: #00355f;
    color: #fff;
    border: 1px solid #00355f;
}

/*                        big-image section                    */
/*                          video section                      */
.video-section{
    margin-bottom: 110px;
    position: relative;
    padding-top: 75px;
    overflow: hidden;
}
.video-section::after{
    content: "";
    background: url("../images/flower2.png");
    position: absolute;
    top: -35%;
    right: -8%;
    width: 456px;
    height: 444px;
}
.video-cont{
    text-align: center;
}
.video-cont figure{
    margin-bottom: 20px;
}
.video-cont .video-h{
    font-size: 30px;
    font-family: "TajawalBold";
    color: #00355f;
    margin-top: 0;
    margin-bottom: 48px;
    position: relative;
}
/*//////////////////////////////**************************************//*////////////////////////////////**/
/*swiper section*/
.product {
    position: relative;
    padding-bottom: 100%;
  }
  
  .product .pro-img {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 15px;
    overflow: hidden;
    width: 100%;
  }
  
  .product .pro-img img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    /* width: 100%; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .product .pro-img:hover img {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
}
  
  .product .hint {
    position: absolute;
    top: 50%;
    min-width: 80px;
    min-height: 80px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: #fff;
    border-radius: 50%;
    border: 1px solid #fff;
  }
  
  html[dir="rtl"] .product .hint {
    right: 50%;
    transform: translate(50%, -50%);
  }
  
  html[dir="ltr"] .product .hint {
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .swiper-btn {
    position: absolute;
    z-index: 1;
    bottom: 162px;
    -webkit-transform: none;
    transform: none;
    width: 42px;
    height: 42px;
    background-color: transparent;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    font-size: 16px;
    background-color: transparent;
    color: #00355f;
    border-radius: 50%;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  @media (min-width: 1320px) {
    .swiper-btn {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .swiper-btn:hover {
    color: #fff;
    background-color: #00355f;
  }
  
  .swiper-btn.swiper-btn-next {
    left: 57px;
  }
  
  .swiper-btn.swiper-btn-prev {
    right: 57px;
  }
  
  .swiper-pagination {
    position: relative;
    width: 100%;
    bottom: auto;
    display: none;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 30px;
  }
  
  @media (max-width: 991px) {
    .swiper-pagination {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
    }
  }
  
  .swiper-pagination .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: #000;
    opacity: 0.5;
    margin: 0 5px;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    outline: none !important;
    border-radius: 50%;
  }
  
  .swiper-pagination .swiper-pagination-bullet:hover {
    background-color: #00355f;
  }
  
  .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
    background-color: #00355f;
    opacity: 1;
  }
  
  .specials-sec .swiper-btn {
    color: #faf8f2;
  }
  
  .specials-sec .swiper-btn:hover {
    color: #00355f;
  }
/*//////////////////////////////***************************************//*///////////////////////////////////**/

/*                          video section                      */

/*                                   footer                            */
footer {
    padding-bottom: 45px;
    padding-top: 115px;
    background-color: #f5f6f7;
    clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
}
footer a{
    text-decoration: none;
}
.first-footer{
    text-align: center;
    position: relative;
    margin-bottom: 22px;
}
.first-footer::before{
    content: "";
    border-bottom: 1px solid #DCE2E8;
    width: 407px;
    position: absolute;
    top: 33px;
    left: 0;
}
.first-footer::after{
    content: "";
    border-bottom: 1px solid #DCE2E8;
    width: 407px;
    position: absolute;
    top: 33px;
    right: 0;
}
.second-footer{
    display: flex;
    justify-content: space-between;
    padding: 0 95px;
    margin-bottom: 72px;
}
.second-footer li a{
    text-decoration: none;
}
.second-footer li a{
    font-family: "TajawalRegular";
    font-size: 15px;
    color: #00355f;
    margin-bottom: 15px;
    text-align: center;
    transition: all .3s ease-in-out;
}
.second-footer li a:last-of-type{
    margin-bottom: 0;
}
.second-footer li a:hover{
    color: #286090;/*hover*/
}
.second-footer .social-link{
    font-size: 18px;
    color: #00355f;
    margin-right: 30px;
    text-decoration: none;
    transition: all .3s ease-in-out;
}
html[dir=rtl] .second-footer .social-link{
    margin-right: 0px;
    margin-left: 30px;
}
html[dir=rtl] .second-footer .social-link:last-of-type{
    margin-left: 0px;
}
.second-footer .social-link:last-of-type{
    margin-right: 0;
}
.second-footer .social-link:hover{
    color: #286090;/*hover*/
}
.second-footer .social{
    margin-top: 16px;
    position: relative;
}
.second-footer .social::after{
    content: "";
    background:#DCE2E8;
    width: 1px;
    height: 63px;
    position: absolute;
    top: 70%;
    left: 48%;
    transform: translateX(-50%)
}
html[dir=rtl] .second-footer .social::after{
    left: 52%;
}
.newsletter{
    text-align: center;
    margin-bottom: 40px;
}
.newsletter .news-h{
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 20px;
    font-family: "TajawalBold";
    color: #00355f;
}
.newsletter .news-p{
    display: block;
    margin-bottom: 25px;
    font-size: 18px;
    font-family: "TajawalRegular";
    color: #00355f;
}
.newsletter-input {
    text-align: left;
    background-color: #fff;
    width: 317px;
    height: 44px;
    border-radius: 24px;
    padding: 0 30px;
    font-size: 14px;
    font-family: "TajawalRegular";
    color: #757575;
    border: 1px solid #dce2e8;
    margin-right: 6px;
    outline: none;
    transition: all .3s ease-in-out;
}
html[dir=rtl] .newsletter-input{
    text-align: right;
    margin-right: 0;
    margin-left: 6px;
}
.newsletter-input:focus{
    border: 1px solid #00355f;
}
.newsletter-input::placeholder{
    font-size: 14px;
    font-family: "TajawalRegular";
    color: #757575;
}
.newsletter-button{
    width: 120px;
    height: 44px;
    border-radius: 22px;
    background-color: #00355f;
    color: #fff;
    border: none;
    font-size: 14px;
    font-family: "TajawalBold";
    transition: all .3s ease-in-out;
}
.newsletter-button:hover{
    background-color: #FFF;
    color: #00355f;
    border: 1px solid #00355f;
}
.third-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
    font-family: "TajawalRegular";
    color: #00355f;
}
.third-footer .red-heart{
    color: #f72e2f;
}
.third-footer .taswak{
    max-width: 100%;
    margin-inline-start: 8px;
}
.design-text{
    display: flex;
    align-items: center;
}

/*                                   footer                            */

/*                                    media query                                    */
/*                    menu in phone size                      */
.menu-bars {
    margin-right: 5px;
    font-size: 24px;
    color: #000;
    display: none;
    transition: .3s;
}

@media (max-width: 1199px){
    .lang-section{
        display: none;
    }
    .show-icons{
        display: block;
    }
    .navgition .dropdown-content{
        display: none;
        transition: none;
    }
    .nav-header figure{
        width: 183px;
    }
    .nav-header{
        padding: 20px 0 18px;
    }
    .add-to .dropdown-content{
        left: 10%;
    }
    .menu-bars {
        display: block;
        margin-right: 8px;
        font-size: 18px;
        color: #fff;
        transition: all 0.3s ease-in-out;
        font-size: 24px;
        margin-inline-end: 26px;
    }
    .menu-bars:hover{
        color: #292a5e;
        background-color: #dfeaf8;
    }
    .navgition {
        display: block;
        position: fixed;
        left: 0px;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgb(3, 30, 77, .969);
        transition: .4s;
        z-index: 200;
        opacity: 0;
        visibility: hidden;
        overflow-y: auto;
        transition: all .3s ease-in-out;
    }
    /* html[dir=rtl] .navgition{
        left: 0;
        right: 0px;
    } */
    
    .reset-left {
        opacity: 1;
        visibility: visible;
    }
    html[dir=rtl] 
    .reset-left {
        right: 0;
    }
    header .contact-info{
        display: none;
    }
    .hide-big{
        display: block;
    }
    .nav-head {
        display: flex;
        flex-direction: column;
        height: 120px;
        color: #fff;
        background-color: transparent;
        width: 100%;
        align-items: center;
        justify-content: space-between;
        padding: 20px 0 18px;
    }
    .nav-head .first-head{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    .empty-div{flex: 1;}
    .nav-head img{
        width: 183px;
        filter : brightness(0) invert(1);
    }
    .nav-head .close-btn {
        color: #fff;
        font-size: 24px;
        text-align: start;
    }
    .nav-header .big-menu {
        display: block;
        flex-direction: column;
        text-align: left;
        padding: 30px;
        align-items: baseline; 
             
    }
    .nav-header li{
        margin-right:  0;
    }
    html[dir=rtl] .nav-header li {
        margin-left: 0;
    }
    html[dir=rtl] .nav-header .big-menu{
        text-align: right;
    }
    .big-menu li{
        margin-bottom: 20px;
    }
    .big-menu li>a.active>i::before {
        content: "";
    }
    .chevron-down{
        line-height: unset;
    }
    .nav-header li a{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
    }
    .nav-header li a:hover{
        color: #fff;
    }

    .big-menu .dropdown-content {
        background-color: transparent;
        text-align: center;
        position: relative;
        min-width: 100%;
        padding: 10px 15px;
        box-shadow: none;
        opacity: 1;
        visibility: visible;
    }
    .nav-header li a:hover, .nav-header .lang-word:hover{
        color: #fff;
    }
    .dropdown-content::before{
        display: none;
    }
    html[dir=rtl] .big-menu .dropdown-content{
        text-align: right;
    }
    .nav-header .dropdown-content a{
        color: #fff;
    }
    .header-info .empty-div,
    .header-info .lang-section{
        display: none;
    }
    .header-info a{
        line-height: 30px;
    }
    html[dir=ltr] .header-info a{
        font-size: 11px;
    }
    .big-menu .lang-section{
        display: block;
        transition: all 0.3s ease-in-out;
    }
    .big-menu .lang-section:hover{
        color: #fff;
    }
    .dropdown{/*to make flex work*/
        display: block;
    }
    .big-menu .lang-section img{
        display: none;
    }
    .big-menu .lang-word{
        display: flex;
        align-items: center;
        justify-content: center;
        color: #fff;
        font-size: 17px;
        font-family: "TajawalMedium";
    }
    .dropdown-content{
        top: 0;
    }
    .dropdown-content a{
        color: #fff;
        text-align: center;
    }
    .top-header .add-to:first-of-type{
        margin: 0;
    }
    html[dir=rtl] .top-header .add-to:first-of-type{
        margin: 0;
    }   
    html[dir=rtl] .top-header .add-to .lnr{
        margin-left: 0px;
    }
    /* test */
    .top-header .search-rool{
        display: none;
    }
    .top-header .user-to{
        display: none;
    }
   
    /*                    menu in phone size                      */
    /*                      header-caption                        */
    .header-caption .figure-main {
        padding-bottom: unset;
        height: 600px;
    }
    .header-caption .main-content .main-h{
        font-size: 30px;
    }
    .header-caption .main-content .main-p{
        font-size: 20px;
        margin-bottom: 20px;
    }
    .header-caption .figure-main {
        clip-path: polygon(100% 0, 100% 97%, 0 100%, 0 0);
    }
    .header-scroll-down-butt{
        bottom: 80px;
    }
    /*                      header-caption                        */

    /*                               about us section                    */
    .about-section::before{
        display: none;
    }
    .about-us{
        padding: 0 15px;
        padding-top: 78px;
    }
    .about-us .about-p{
        text-align: justify;
        text-align-last: center;
    }
    /*                               about us section                    */
    /*                               box-section                         */
    .box-section{
        margin-bottom: 20px;
    }
    .box-link{
        margin-bottom: 15px;
    }
    /*                               box-section                         */
    /*                             deatail section                       */
    .section-details{
        overflow: hidden;
    }
    .details-box .details-cont{
        padding: 261px 15px 15px;
        clip-path: polygon(0 0%, 100% 0, 100% 100%, 0% 100%);
        margin-bottom: 0px;
        background-color: #fff;
        text-align: justify;
        text-align-last: center;
        height: auto;
    }
    .details-box .details-span{
        font-size: 20px;
        margin-bottom: 30px;
        /* letter-spacing: -1px; */
    }
    .details-slider::after{
        display: none;
    }
    .details-box .details-aspect{
        width: 100%;
        padding: 0 15px;
        bottom: auto;
        position: relative;
    }

    .details-box .image-details{
        clip-path: polygon(0 6%, 100% 0, 100% 94%, 0% 100%);
        width: 100%;
    }
    .details-slider .swiper-pagination {
        bottom: auto;
    }
    /*                            deatail section                        */
    /*                          big image section                        */
    .big-image {
        clip-path: polygon(0 3%, 100% 0, 100% 97%, 0% 100%);
        
        margin-bottom: 65px;
        margin-top: 40px;
    }
    .big-image .big-cont{
        height: 360px;
    }  

    .big-image .big-h{
        font-size: 30px;
    }
    .big-image .big-p{
        font-size: 20px;
        margin-bottom: 20px;
    }

    /*                          big image section                      */

    /*                             video section                       */
    .video-section::after{
        display: none;
    }
    .video-section{
        margin-bottom: 50px;
        padding-top: 0;
    }
    /*                             video section                       */
    /*                             footer                          */
    footer {
        clip-path: polygon(0 1%, 100% 0, 100% 100%, 0% 100%);
    }
    .first-footer::before,
    .first-footer::after,
    .second-footer .social::after{
        display: none;
    }
    .second-footer{
        padding: 0 25px;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        margin-bottom: 125px;
        position: relative;
    }
    .second-footer::after{
        content: "";
        background:#DCE2E8;
        width: 1px;
        height: 63px;
        position: absolute;
        bottom: -45%;
        left: 50%;
        transform: translateX(-50%);
    }
    html[dir=rtl] .second-footer::after{
        left: 51%;
    }
    .first-footer{
        margin-bottom: 45px;
    }
    .first-footer img{
        width: 183px;
    }
    .second-footer .social{
        order: 1;
        margin-top: 0;
        margin-bottom: 45px;
    }
    .nav-foot-cont.first-order{
        order: 2;
    }
    .nav-foot-cont.second-order{
        order: 3;
    }
    .second-footer .social{
        transform: translateX(-50%);
        left: 50%;
        width: 100%;
    }
    html[dir=rtl] .second-footer .social {
        transform: translateX(50%);
        right: 50%;
    }
    .newsletter-input{
        max-width: 100%;
        margin-bottom: 15px;
    }
    .third-footer{
        flex-wrap: wrap;
        justify-content: center;
    }
    .list-unstyled{
        padding: 0;
    }
    
    .copy-right{
        order: 2;
        margin-bottom: 10px;
        width: 100%;
        text-align: center;
    }
    .design-text{
        order: 3;
        display: flex;
        align-items: center;
        line-height: 1.1;
    }
    .design-text .desgin-p{
        padding-top: 5px;
    }
    /*                             footer                          */
}

/*                                    media query                                    */

.fixall{
    text-decoration: none;
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
}


/*overlay*/
.overlay-box,
.overlay-box2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 10;
    background-color: #000;
    opacity: .4;
    display: none;
}
.overlay-box2{
    opacity: 0;
}
